.genreInfoContent {
    width: '100%';
    display: flex;
    justify-content: right;
    align-items: center;
}

.menuBox {
    display: flex;
    justify-content: space-between;
}

.genreBtn {
    margin: 5px;
}